.cube-search-table-root {
    margin: var(--spacing-300);

    .table-controls {
        display: flex;
        flex-direction: row;
        margin-bottom: var(--spacing-100);
        gap: var(--spacing-200);

        .form-label {
            font-weight: bold;
        }
    }
    .modal table {
        color: var(--light-color);
    }

    .cube-search-table {
        font-family: "Comic Sans MS", system-ui, sans-serif;

        pre[class*="language-s"],
        code[class*="language-s"] {
            margin: unset;
            padding: unset;
        }


        .search-row-input {
            width: 100%;
        }
        .text-editor-root:has(.search-row-input) {
            width: 100%;
        }
        .error-indicator {
            border:none;
            border-radius: var(--border-radius);
        }

        tr:nth-child(odd) .display {
            background: var(--dark-color);
        }

        td:first-child {
            min-width: 300px;
        }

        .percentage {
            font-size: .9em;
            font-style: italic;

        }

        tr.loading {
            font-style: oblique;
            color: color-mix(var(--color-interpolation), var(--dark300), var(--light600) 50%);
        }
    }


}