.autocomplete-root {
    position: relative;
    input {
        width: 99%;
    }

    .autocomplete-option-container {
        position: absolute;
        padding: var(--spacing-100);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-100);
        background-color: var(--darker-color);
        box-shadow: 0 2px 2px 1.5px var(--active);

        width: 100%;
        max-height: 5em;
        overflow-y: scroll;
        z-index: 20;
        top: calc(var(--editor-font-size, 1em) * 1.5);

        .autocomplete-option:hover {
            background-color: var(--light-color);
            color: var(--dark-color);
            cursor: pointer;
        }
    }
}