.query-input {
    &,
    .controller,
    .display,
    .links {
        border-radius: var(--border-radius);
        padding:unset;
    }
    pre[class*="language-"] {
        padding: unset;
    }
}