.loading-button {
  .background {
    fill: var(--active);
  }
  .play {
    fill: var(--dark-color);
  }
}

.run-query-button:hover:not(:disabled) {
  background-color: transparent;
}

.run-query-button:hover:not(:disabled) .background {
  fill: var(--active-mid-alpha);
}

.run-query-button:disabled .loading-button .background {
  fill: var(--active-low-alpha);
}

.run-query-button:focus {
  .background {
    fill: var(--active-low-alpha);
  }
  .play {
    fill: var(--active);
  }
}

.loading-button:disabled .play {
  fill: var(--dark-color);
}
