.loading-button .background {
    fill: var(--active);
}

.run-query-button:disabled .loading-button .background {
    fill: var(--active-mid-alpha);
}

.loading-button:disabled .play {
    fill: var(--dark-color);
}