.toaster {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: var(--spacing-200);
    margin: var(--spacing-300);
    width: 400px;


    .toaster-message {
        border-radius: var(--border-radius);
        border: 2px solid var(--dark-color);
        background-color: var(--light-color);
        color: var(--dark-color);
        padding: var(--spacing-200);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 95%;

        div {
            flex: 1;
        }

        button {
            margin-top: calc(-1 * var(--spacing-200));
            margin-right: calc(-1 * var(--spacing-100));
            margin-left: calc(-1 * var(--spacing-200));
            margin-bottom: calc(-1 * var(--spacing-200));
        }
    }
}
