.toaster {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-300);
}

.toaster .toaster-message:not(:last-of-type) {
    margin-bottom: var(--spacing-200);
}

.toaster-message {
    border-radius: var(--border-radius);
    border: 2px solid var(--dark-color);
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: var(--spacing-200);
    display: flex;
    flex-direction: row;
}

.toaster-message div {
    flex: 1;
}

.toaster-message button {
    margin-left: var(--spacing-200);
    height: 2em;
    width: 2em;
}

.message-container {
    position: relative;
    height: 0;
    width: 400px;

    overflow: hidden;
}

.message-container:not(:last-of-type) {
    margin-bottom: var(--spacing-200);
}

.message-container .toaster-message {
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    transition: all 0.6s ease-out;

    opacity: 0;
}
.message-container .toaster-message.show {
    opacity: 1;
}
