.coglib-prism-theme {
  /*--editor-font-size: 1em;*/
  /* copies prism theme */
  font-family: var(--monospace-family);
  font-size: var(--editor-font-size, 1em);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: var(--editor-line-height, 1.5);
  overflow: auto;
  border: none;
}
textarea.coglib-prism-theme {
  padding-top: var(--toolbar-height, 1em);
  padding-right: 1em;
  padding-left: var(--gutter-width, 1em);
  padding-bottom: var(--spacing-100);
  margin-top: 0.5em;
  margin-right: 0;
  margin-left: 0;
}

.text-editor-root {
  --toolbar-height: 24px;
  --gutter-width: 0.25em;
  --editor-line-height: 1.25;
  height: max-content;
  display: grid;
  position: relative;
  background-color: var(--darker-color);
  grid-template-columns: auto auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "labels brown overlap";

  &.separated {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      ".      .     display"
      "labels brown overlap"
      ".      .     links";
    .links {
      grid-area: links;
    }
    .controller {
      color: var(--light-color);
    }
    .display {
      grid-area: display;
    }
    .overlay-toggle {
      grid-area: labels;
    }
  }

  &.focusable:focus-within {
    outline: 2px inset var(--active);

    * {
      outline: none;
    }
  }

  pre,
  textarea {
    margin-top: 0;
    margin-bottom: 0;
    overflow-y: clip;
    overscroll-behavior-x: none;

  }

  .editor-controls {
    display:flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .labels {
    grid-area: labels;
    z-index: 4;
    display: flex;
    flex-direction: column;
    cursor: default;
    background-color: var(--darker-color);
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: var(--toolbar-height, 1em);

    overflow: hidden;
    height: fit-content;

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;

      &.query-header {
        background-color: var(--darkest-color);
      }
    }

    code {
      font-family: var(--monospace-family);
      font-size: 1em;
      text-align: left;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: var(--editor-line-height);
      tab-size: 4;
      hyphens: none;
    }

    .multi-code:last-of-type {
      margin-bottom: 0;
    }
    .multi-code {
      --text-color: var(--light-color);
      white-space: pre;
      color: var(--text-color);
      margin-top: -1px;
      margin-bottom: -1px;

      position: relative;

      &.subquery-middle {
        box-sizing: border-box;
        border-width: 0 0 0 2px;
        border-style: solid;
        border-color: var(--text-color);
      }
      &.subquery-end {
        box-sizing: border-box;
        border-width: 0 0 2px 2px;
        border-style: solid;
        border-color: var(--text-color);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 4px;
        margin-bottom: -2px;
      }
    }

    .line-number {
      white-space: pre;
      color: color-mix(var(--color-interpolation), var(--dark300), var(--light600) 50%);

        &.highlight {
            color: var(--active-mid-alpha);
        }
    }

  }
  .labels > div {
    padding-left: var(--spacing-200);
    &:last-child {
      padding-bottom: var(--spacing-200);
    }
  }

  .run-query-button {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
    min-width: unset;
    min-height: unset;
    aspect-ratio: 1/1;

    &:disabled {
      cursor: unset;
    }
  }

  .links {
    grid-area: overlap;
    box-sizing: border-box;
    display: inline-block;
    padding-bottom: var(--spacing-100);
    scrollbar-color: var(--active-mid-alpha) var(--darker-color);
    z-index: 4;
    background-color: color-mix(in srgb, var(--active), transparent 80%);

    a:focus {
      background-color: var(--darkest-color);
    }

    :not(a) {
      color: transparent;
      background: transparent;
    }
  }

  .controller {
    caret-color: var(--active);
    resize: none;
    grid-area: overlap;
    z-index: 3;
    box-sizing: border-box;
    overflow-x: auto;
    scrollbar-color: var(--active-mid-alpha) var(--darker-color);
    color: transparent;
    background-color: transparent;

    &::selection {
      background-color: var(--active-low-alpha);
    }
    &::placeholder {
      color: var(--active-mid-alpha);
    }
  }

  .display {
    z-index: 2;
    box-sizing: border-box;
    display: inline-block;
    grid-area: overlap;
    padding-bottom: var(--spacing-100);


    a {
      text-decoration: none;
    }
  }
}
