label.form-field {
    display: block;
    width: fit-content;
    margin: var(--spacing-300) 0;
}

label.form-field .description {
    font-style: italic;
    font-size: .9em;
}

label.form-field.range .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

label.form-field.range .title > span {
    width: 150px;
}

