.default-layout:has(.cube-view-root) {
    margin: unset;
}

.update-timestamp {
    margin-right: var(--spacing-200);
}

.cube-view-root {
    .header {
        margin: 0 var(--spacing-300);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-200);
    }

    .card-list-root {
        margin-top: var(--spacing-300);
    }

    .list-control {
        margin: 0 var(--spacing-300) var(--spacing-300);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-200);
    }

    .card-view {
        margin: unset;
    }
    @media screen {
        .print-page {
            display: none;
        }
    }
    @media print {
        .masthead,
        .list-control,
        .transform-button,
        .header,
        .result-container {
            display: none !important;
        }
        .card-view {
            width: 63.5mm;
        }
        .print-page {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: .25in;
            padding-bottom: .25in;
        }
    }

    h2 {
        margin-bottom: 0;
    }

    .cube-filter {
        flex-wrap: wrap;
    }

    @media (min-width: 769px) {
        .cube-filter input {
            width: 30rem;
        }
    }

    @media (max-width: 768px) {
        .cube-filter input {
            width: 17rem;
        }
    }

    .description-not-found {
        margin: var(--spacing-300);
    }
}

.cube-db-status {
    width: 500px;
}

.cube-overview {
    margin-top: var(--spacing-200);
    display: flex;
    justify-content: center;
    align-items: start;
    gap: var(--spacing-200);

    .cube-description {
        margin: 0;
        padding: var(--spacing-300);
        background-color: var(--darker-color);
        min-width: 63vw;
    }

    img.cover-image {
        max-width: 33vw;
        border: var(--darker-color) inset 2px;
    }
}

@media (max-width: 768px) {
    .cube-overview {
        flex-wrap: wrap;

        img.cover-image {
            max-width: 95vw;
        }
    }
    .cube-description {
        width: 100%;
    }
}

.card-row > * {
    width: 33%;
    aspect-ratio: var(--card-aspect-ratio);
}


.card-image-container span {
    font-size: 5em;
}

.active-card-root img {
    width: 300px;
    aspect-ratio: var(--card-aspect-ratio);
}