.card-view-root {
    position: relative;
    aspect-ratio: var(--card-aspect-ratio);
    border-radius: var(--card-border-radius);

    :focus-visible {
        outline: unset;
    }

    .detail {
        margin-top: var(--spacing-200);
    }

    .card-weight {
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
        background-color: var(--dark-color);
        color: var(--light-color);
    }

    .hover-actions {
        position: absolute;
        z-index: 2;
        bottom: 5%;
        left: 4%;
        display: flex;
        flex-direction: row;
    }

    .hover-actions button {
        height: 1.75em;
        width: 1.75em;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        /*background-color: var(--active-low-alpha);*/
        /*border-color: var(--active-mid-alpha);*/
        padding: 0;
    }

    &.rotated {
        transform: rotate(90deg);

        .hover-actions {
            transform: rotate(-90deg);
            rotation-point: center;
            bottom: 17%;
            left: 66%;
        }
    }
}

@media (min-width: 1024px) {
    .card-grid._4 {
        width: 24%;
    }
    .card-grid._6 {
        width: 15.8%;
    }
    .card-grid._8 {
        width: 11.7%;
    }
    .card-grid._12 {
        width: 8.3%;
    }
    .card-grid._16 {
        width: 6.5%;
    }
    .card-grid.rotated {
        margin: -4% 3.6%;
        width: 17.8%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .card-grid {
        width: 32%;
        &.rotated {
            width: 23.5%;
            margin: -4.9% 4.7%;
            padding-top: 0.4%;
            padding-bottom: 0.4%;
        }
    }
}
@media (max-width: 768px) {
    .card-grid {
        width: 49%;
        &.rotated {
            width: 35%;
            margin: -6.9% 7%;
            padding-top: unset;
            padding-bottom: unset;
        }
    }
}