.card-view {
    position: relative;
    aspect-ratio: var(--card-aspect-ratio);
    border-radius: var(--card-border-radius);

    :focus-visible {
        outline: unset;
    }

    .detail {
        margin-top: var(--spacing-200);
    }

    .card-weight {
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
        background-color: var(--dark-color);
        color: var(--light-color);
    }

    .hover-actions {
        position: absolute;
        z-index: 2;
        bottom: 5%;
        left: 4%;
        display: flex;
        flex-direction: row;
        /*background-color: transparent;*/
    }

    .hover-actions button {
        height: 1.75em;
        width: 1.75em;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        /*background-color: var(--active-low-alpha);*/
        /*border-color: var(--active-mid-alpha);*/
        padding: 0;
    }

    .add-icon {
        font-weight: bold;
        font-size: 1.5em;
        background-color: transparent;
    }
}

@media (min-width: 1024px) {
    .card-view {
        width: 24%;
    }
    .card-view._6 {
        width: 15.8%;
    }
    .card-view._8 {
        width: 11.7%;
    }
    .card-view._12 {
        width: 8.3%;
    }
    .card-view._16 {
        width: 6.5%;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .card-view {
        width: 32%;
    }
}
@media (max-width: 768px) {
    .card-view {
        width: 49%;
    }
}