.card-link {
    &.clickable {
        cursor: pointer;
        text-decoration: underline dotted;
    }

    &.active,
    &:hover {
        color: var(--active);
    }
}

.popup-container {
    z-index: 20;
    display: flex;
    flex-direction: row;

    * {
        max-height: 45svh;
    }
}