.topbar {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-200);
    justify-content: space-between;
    background-color: var(--dark-color);
    padding: var(--spacing-200);
    border-bottom: solid 1px var(--gray-68);
    box-shadow: 0 2px 2px 0 var(--gray-68-shadow);

    .result-controls {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: var(--spacing-100);
    }

    .venn-control-root {
        color: var(--darker-color);
        * {
            cursor: pointer;
        }
        .bordered {
            stroke: var(--darker-color);
            stroke-width: 2;
        }
        :focus-visible {
            outline-color: var(--dark-color);
        }
    }
}

pre[class*="language-"].last-query {
    margin: unset;
    a {
        text-decoration: underline;
    }
}

@media (min-width: 769px) {
    .topbar {
        position: sticky;
        z-index: 10;
        top: -1px;
    }
    .topbar > .result-info {
        flex: 2;
    }
    .topbar > * {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .topbar {
        flex-wrap: wrap;
    }
    .result-info {
        width: 100%;
    }
}


.download-button input[type=number] {
    width: 50px;
    -moz-appearance: textfield;
    appearance: textfield;
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    margin-right: var(--spacing-100);
}

.filter-root {
    .text-editor-root {
        width: 100%;
    }
}