.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark-color);
    padding: var(--spacing-200);
    border-bottom: solid 1px var(--gray-68);
    box-shadow: 0 2px 2px 0 var(--gray-68-shadow);
}

@media (min-width: 769px) {
    .topbar {
        position: sticky;
        z-index: 3;
        top: -1px;
    }
    .topbar > * {
        flex: 1
    }
}

@media (max-width: 768px) {
    .topbar {
        flex-wrap: wrap;
    }
}

.topbar .result-info {
    margin-left: var(--spacing-200);
}

.topbar .result-controls {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.topbar .display-type {
    margin-top: var(--spacing-100);
}

.topbar select {
    background-color: var(--darker-color);
    color: var(--light-color);
}

.topbar .open-cogwork {
    position: absolute;
    top: 0;
    left: 0;
    margin: var(--spacing-200);
}
.venn {
    color: var(--darker-color)
}

.venn * {
    cursor: pointer;
}

.venn .bordered {
    stroke: var(--darker-color);
    stroke-width: 2;
}

.venn :focus-visible {
    outline-color: var(--dark-color);
}