.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    border-bottom: solid 1px var(--gray-68);
    box-shadow: 0 2px 2px 0 var(--gray-68-shadow);
    z-index: 2;
    position: sticky;
    top: 0;
}

.topbar .result-controls {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.topbar .display-type {
    margin-top: var(--spacing-200);
}

.topbar select {
    color: var(--light-color);
}