.card-image-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-content: flex-start;
    max-width: 1296px;
}

.cube-view-root .header {
    margin: 0 var(--spacing-300);
}

.cube-view-root .result-container {
    justify-content: center;
}

.cube-view-root .card-view {
    margin: unset;
}