.history-view {
    margin-left: var(--spacing-200);
}

.history-view .page-numbers {
    flex: 1;
}

.history-view .route-header,
.history-view pre.history {
    min-width: 769px;
    max-width: 50%;
}

@media (max-width: 768px) {
    .history-view .route-header,
    .history-view pre.history {
        max-width: 100%;
        min-width: 100%;
    }
}

.history-item .query-label {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.history-view {
    .history-section-root:not(:last-of-type) {
        padding-bottom: var(--spacing-100);
        border-bottom: solid 1px var(--active);
    }

    .history-page {
        padding-left: var(--spacing-300);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-200);
    }
}