.saved-cards-editor {
    margin: var(--spacing-300);
    position: relative;
    display: flex;
    flex-direction: column;

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .card-entry-editor {
        position: relative;
        color: var(--light-color)
    }

    .card-entry-editor:focus-visible {
        z-index: 10;
    }
}
