.saved-cards-root {
    margin: var(--spacing-300);
    position: relative;
    display: flex;
    flex-direction: column;
}

.saved-cards-root h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.saved-cards-root .card-entry-editor {
    position: relative;
    color: var(--light-color)
}

.saved-cards-root .card-entry-editor:focus-visible {
    z-index: 10;
}