.search-option-root {
    .form-field {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--spacing-200);
        width: 175px;
        select {
            width: 100px;
        }
    }
}

.indent-01 {
    margin-left: 28px;
}

input.refresh-rate {
    width: 4em;
}