
.two-panel-layout {
    height: 92svh;
    display: flex;
    overflow: clip;
    flex-direction: row;
    background-color: var(--darker-color);

    .left-root, .right-root {
        height: 100%;
    }
}