.graph-search-root {
    width: 100%;
    height: 99.5svh;
    position: relative;

    .controls-root {
        position: absolute;
        z-index: 10;
        top: 8px;
        left: 8px;

        .autocomplete-root {
            width: 350px;
        }
    }

    .graph-view-root {
        width: 75vw;
        max-height: 90svh;

        .loading-indicator {
            fill: var(--active-mid-alpha);
        }
    }

    .detail-view-root {
        min-width: 300px;
        width: 25vw;
        margin: 4px;
        border-radius: 4px;

        max-height: 90svh;

        overflow: auto;

        scrollbar-color: var(--light-color) var(--darkest-color) ;
        section {
            background-color: var(--darkest-color);
            padding: 4px;
        }

        .detail-view-header {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: var(--darkest-color);
            align-items: start;
            padding: 4px;

            button {
                margin-top: 4px;
            }
        }

        h2 {
            margin: 0;
            flex: 1;
        }

        .related-header {
            position: sticky;
            z-index: 10;
            top: 2em;
            background-color: var(--darkest-color);
        }

        ul {
            margin: var(--spacing-200) 0 0;
            padding: 0 0 0 var(--spacing-200);
        }
        li.related {
            pre {
                cursor: pointer;
            }
            display: flex;
            flex-direction: row;
            align-items: center;

            :first-child {
                flex: 1;
            }
            height: var(--interaction-size-min);
        }
    }

}