.card-list-root {
    .text-editor-root {
        height: 100%;
        overflow-y: scroll
    }

    .card-spoiler-root {
        height: 100%;
        padding: unset;
        overflow-y: scroll;

        .spoiler-tools {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-200);
            padding-inline-start: var(--spacing-300);
            padding-top: var(--spacing-200);
        }

        .card-grid {
            position: relative;

            .quantity {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background-color: var(--active);
                color: var(--dark-color);
                text-align: center;
                font-weight: bold;
                padding: var(--spacing-200);
                min-width: 1em;
                border-radius: var(--card-border-radius);
            }

            .card-grid {
                z-index: 1;
            }

            .card-not-found {
                text-align: center;
                padding-top: var(--spacing-500);
            }
        }
    }
}