.footer {
    max-width: 100% !important;
    padding: var(--spacing-400) var(--spacing-300);
    background: var(--darkest-color);
    color: var(--light-color);
    font-size: 0.8em;
    bottom: 0;

    .as-seen-on {
        padding: var(--spacing-200);
    }

    .links {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-400);
        svg:hover,
        & > *:hover {
            --text-color: var(--active);
        }
    }

    a {
        color: var(--text-color);
    }

    .iwroot {
        margin-top: var(--spacing-300);
    }
}