.drag-handle {
    width: 16px;
    height: 16px;
    padding: 2px;
}

.multiselect .multiselect-droppable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chip-container {
    margin-left: var(--spacing-200);
    margin-right: var(--spacing-200);
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius);

    .slug {
        padding: var(--spacing-100) var(--spacing-200) var(--spacing-100) var(--spacing-100);

        background: var(--darker-color);
        border-radius: var(--border-radius);



        button, .button-like {
            --bkgd-color: var(--darker-color);
        }

        button:hover:not(:disabled), .button-like:hover:not(:disabled) {
            --text-color: var(--dark-color);
            --svg-stroke: var(--dark-color);
            --bkgd-color: var(--active-mid-alpha);
        }
    }
}
