.file-explorer {
    list-style: none;
    padding: var(--spacing-300);
    margin-top: 0;
    background-color: var(--darker-color);
    color: var(--light-color);
    border: var(--darker-color) inset 2px;
}

.file-explorer .folder {
    height: 22px;
    display: inline-block;
    padding-left: var(--spacing-200);
}

.file-explorer :is(ul, li) {
    list-style: inherit;
    margin: var(--spacing-100)
}

.file-explorer ul {
    padding-left: var(--spacing-300);
}

.file-explorer .selectable {
    cursor: pointer;
}

.file-explorer .selectable:hover {
    background-color: var(--active-mid-alpha);
    color: var(--darker-color);
}

.file-explorer .none {
    display: none;
}