.project-tab {
    padding: var(--spacing-100);
    border: var(--dark-color) inset 2px;
    cursor: pointer;
}

.project-tab.active {
    color: var(--darker-color);
    background-color: var(--active);
    border: var(--active) inset 2px;
}

.project-tab:hover:not(:disabled) {
    color: var(--darker-color);
    background-color: var(--active-mid-alpha);
    border: var(--active) inset 2px;
}

.project-tab .project-action {
    width: 1.75em;
    height: 1.75em;
    font-weight: bold;
}

.file-label {
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'overlap';
}

.file-label > * {
    grid-area: overlap;
}

.file-label:has(input[type=file]:focus-visible) {
    outline: 2px inset var(--active);
}

.file-label input[type=file] {
    opacity: 0;
    width: 0;
    height: 0;
}