/* global */

:root {
  --dark-color: hsl(25, 32%, 27%);
  --darker-color: hsl(25, 32%, 20%);
  --darker-color-subdued: hsl(24, 20%, 20%);
  --darkest-color: hsl(25, 31%, 12%);
  --light-color: hsl(19, 41%, 88%);
  --gray-68: hsl(0, 0%, 27%);
  --gray-68-shadow: hsla(0, 0%, 27%, 0.5);
  --gray-42: hsl(0, 0%, 50%);
  --blue: hsla(180, 100%, 69%, 100%);
  --blue-low-alpha: hsla(180, 100%, 69%, 50%);
  --blue-mid-alpha: hsla(180, 100%, 69%, 75%);
  --green: hsl(96, 100%, 69%);
  --red: hsl(0, 100%, 37%);
  --card-radius: 12px;
  background-color: var(--light-color);
  color: var(--dark-color);
}

*:focus-visible {
  outline: 2px inset var(--blue);
}

button {
  background-color: var(--dark-color);
  border-top-color: var(--gray-42);
  border-left-color: var(--gray-42);
  border-bottom-color: var(--dark-color);
  border-right-color: var(--dark-color);
  color: var(--blue-mid-alpha);
}

button:disabled {
  background-color: var(--darker-color);
  color: var(--blue-low-alpha);
}

input {
  color: #ccc;
  background-color: #2d2d2d;
}

fieldset {
  margin-left: 0;
  padding-left: unset;
  padding-right: unset;
  margin-top: 4px;
  border: none;
}

h1,
h2,
h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* classnames */

.root {
  margin: -8px;
}

@media (min-width: 1024px) {
  .root {
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row > :not(:first-child) {
  margin-left: 4px;
}

.page-title {
  margin-left: 1em;
}

.footer {
  margin-left: -8px;
  margin-right: -8px;
  max-width: 100% !important;
  padding: 16px 8px;
  background: var(--darkest-color);
  color: var(--light-color);
  font-size: 0.8em;
}
.footer .links {
  display: flex;
  flex-direction: row;
  margin-left: 4px;
}
.footer a,
.footer a:visited {
  color: var(--light-color);
}

@media (max-width: 1024px) {
  .footer {
    padding-left: 8px;
  }
}

.footer > :not(:first-child) {
  padding-left: 4px;
}

.coglib-prism-theme {
  /* copies prism theme */
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border: none;
}

.input-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  overflow-y: auto;
}

.example-content .example-query {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.example-content .example-query > :last-child {
  flex: 1;
}

.example-content button {
  height: unset;
}

.input-column > * {
  max-width: 1024px;
}

.input-column input {
  box-sizing: border-box;
  caret-color: var(--blue);
}

.input-column .execute {
  padding-bottom: 0.25em;
}

.query-editor {
  height: max-content;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'labels brown overlap';
}

.query-editor .labels {
  grid-area: labels;
  z-index: 4;
}

/* try to give query-editor the focus ring itself. then get rid of brown */
.query-editor:focus-within .labels {
  outline: 2px inset var(--blue);
}

.query-editor .brown {
  grid-area: brown;
  margin-top: 8px;
  width: 2px;
  z-index: 10;
  background-color: var(--darker-color);
}

.query-editor .links {
  grid-area: overlap;
  box-sizing: border-box;
  display: inline-block;
  background: transparent;
}
.query-editor .links :not(a) {
  color: transparent;
  background: transparent;
}
.query-editor .links.show {
  z-index: 4;
}
.query-editor .links.hide {
  z-index: 1;
}

.query-editor .controller {
  caret-color: var(--blue);
  color: transparent;
  background-color: transparent;
  resize: none;
  grid-area: overlap;
  z-index: 3;
  box-sizing: border-box;
  overflow: auto;
  scrollbar-color: var(--blue-mid-alpha) var(--dark-color);
}
.query-editor input.controller {
  padding-right: 0;
  scrollbar-width: revert;
}

.query-editor .controller::selection,
.input-column input::selection {
  background-color: var(--blue-low-alpha);
}

.query-editor .controller::placeholder {
  color: var(--blue);
}

.query-editor .display {
  z-index: 2;
  box-sizing: border-box;
  display: inline-block;
  grid-area: overlap;
}
.query-editor .display a {
  text-decoration: none;
}

.source-select {
  align-items: stretch;
}
.source-option {
  flex: 1;
  border: var(--dark-color) inset 2px;
  padding: 4px;
}
.source-option .radio-button-holder {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'overlap';
}
.source-option .radio-button-holder input[type='radio'] {
  opacity: 0;
  grid-area: overlap;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.source-option .radio-button-holder svg {
  grid-area: overlap;
  z-index: 1;
}

.source-option.selected {
  border: var(--blue) inset 2px;
}
.source-option .db-settings {
  margin-left: 4px;
}

.expander {
  background-color: inherit;
}

.expander-action {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-color: var(--light-color);
}

.expander-child {
  margin: 4px;
}

.alert {
  color: var(--red);
  font-weight: bold;
}

.db-import {
  height: 369px;
  align-items: flex-start;
}
.db-import > * {
  flex: 1;
  margin-top: 8px;
}

.db-import .scryfall-option {
  padding: 4px;
}

.db-import .scryfall-option .size {
  margin-left: 4px;
}

.db-import .file {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'overlap';
  border: var(--blue-mid-alpha) 2px inset;
}
.db-import .file input {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: inline-block;
  grid-area: overlap;
  cursor: pointer;
}
.db-import .file label {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: inline-block;
  grid-area: overlap;
  background: var(--blue);
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .results {
    max-width: 80%;
  }
}
.results {
  background-color: var(--dark-color);
  border: 2px solid var(--gray-42);
  border-right-color: var(--dark-color);
  border-bottom-color: var(--dark-color);
  color: var(--light-color);
  display: flex;
  flex-direction: row;
}

.results * {
  background-color: inherit;
}

.results .content {
  flex: 1;
}

.result-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 14vh;
  padding: 8px;
  border-bottom: solid 1px var(--gray-68);
  box-shadow: 0 2px 2px 0 var(--gray-68-shadow);
  z-index: 2;
  position: relative;
  top: 0;
}

@media (min-width: 1024px) {
  .result-container {
    overflow-y: scroll;
    height: 84vh;
  }
}
.result-container {
  padding-top: 8px;
  background-color: var(--darker-color);
  /*overflow-y: scroll;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}

.result-container > :last-child {
  margin-bottom: 24px;
}

.bottom-page-control {
  align-self: end;
}

.card-view {
  margin-left: 0.75%;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .card-view {
    width: 24%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .card-view {
    width: 32%;
  }
}
@media (max-width: 768px) {
  .card-view {
    width: 49%;
  }
}

.card-view img {
  clip-path: inset(0 0 0 0 round var(--card-radius));
  box-shadow: 4px var(--gray-68);
}

.card-view .add-button {
  align-self: center;
}

.card-view .detail {
  margin-top: 4px;
}

.detail-controls {
  margin-left: 20px;
}

.loader-holder {
  width: 500px;
}

.loader .background {
  fill: var(--light-color);
}

.loader .foreground {
  fill: var(--green);
}
