/* global */

/*
  --dark-color: hsl(207, 87%, 30%);
  --darker-color: hsl(207, 87%, 20%);
  --darker-color-subdued: hsl(206, 87%, 20%);
  --darkest-color: hsl(207, 86%, 12%);
  --light-color: hsl(19, 100%, 76%);
  --gray-68: hsl(0, 0%, 27%);
  --gray-68-shadow: hsla(0, 0%, 27%, 0.5);
  --gray-42: hsl(0, 0%, 50%);
    --active: hsl(312, 100%, 69%);
    --active-low-alpha: hsla(312, 100%, 69%, 50%);
    --active-mid-alpha: hsla(312, 100%, 69%, 75%);
  --green: hsl(96, 100%, 69%);
  --light-red: hsl(339, 100%, 55%);
  --red: hsl(339, 100%, 37%);
*/

/*
  --dark-color: hsl(132, 32%, 27%);
  --darker-color: hsl(132, 32%, 20%);
  --darker-color-subdued: hsl(131, 20%, 20%);
  --darkest-color: hsl(132, 31%, 12%);
  --light-color: hsl(341, 41%, 88%);
  --gray-68: hsl(0, 0%, 27%);
  --gray-68-shadow: hsla(0, 0%, 27%, 0.5);
  --gray-42: hsl(0, 0%, 50%);
  --active: hsl(344, 100%, 69%);
  --active-low-alpha: hsla(344, 100%, 69%, 50%);
  --active-mid-alpha: hsla(344, 100%, 69%, 75%);
  --green: hsl(96, 100%, 69%);
  --light-red: hsl(0, 100%, 55%);
  --red: hsl(0, 100%, 37%);
 */

:root {
  --color-interpolation: in oklch;
  --dark300:  hsl(25, 32%, 27%);
  --brand-mix: color-mix(var(--color-interpolation), var(--dark300), var(--light600) 5%);
  --dark200: color-mix(var(--color-interpolation), var(--brand-mix), black 20%);
  --dark150: color-mix(var(--color-interpolation), var(--brand-mix), black 30%);
  --dark100: color-mix(var(--color-interpolation), var(--brand-mix), black 40%);
  --light600: hsl(19, 41%, 88%);
  --active599: hsl(180, 100%, 69%);
  --active550: color-mix(var(--color-interpolation), var(--active599), transparent 50%);
  --active575: color-mix(var(--color-interpolation), var(--active599), transparent 25%);

  --dark-color: var(--dark300);
  --darker-color: var(--dark200);
  --darker-color-subdued: var(--dark150);
  --darkest-color: var(--dark100);
  --light-color: var(--light600);
  --active: var(--active599);
  --active-mid-alpha: var(--active575);
  --active-low-alpha: var(--active550);
  --gray-68: hsl(0, 0%, 27%);
  --gray-68-shadow: hsla(0, 0%, 27%, 0.5);
  --gray-42: hsl(0, 0%, 50%);
  --green: hsl(96, 100%, 69%);
  --light-red: hsl(0, 100%, 55%);
  --red: hsl(0, 100%, 37%);
  --border-radius: 2px;
  --card-border-radius: 4.75% / 3.5%;
  --card-apect-ratio: 2.5/3.5;

  --spacing-100: 2px;
  --spacing-200: 4px;
  --spacing-300: 8px;
  --spacing-400: 16px;
  --spacing-500: 32px;

  background-color: var(--dark-color);
  color: var(--light-color);

  --monospace-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  --coglib-width: 50%;
  --coglib-closed-width: 2.5%;
}

a {
  color: var(--light-color);
}
a:hover {
  color: var(--active);
}

body {
  margin: 0;
}

*:focus-visible {
  outline: 2px inset var(--active);
}

.button-like,
button {
  background-color: var(--dark-color);
  border-top-color: var(--gray-42);
  border-left-color: var(--gray-42);
  border-bottom-color: var(--darker-color);
  border-right-color: var(--darker-color);
  color: var(--active-mid-alpha);
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  text-align: center;
  padding: 1px 4px;
  font-family: system-ui, sans-serif;
  font-size: .8333333em;
}

button:disabled {
  cursor: unset;
}
.button-like.disabled,
.button-like:disabled {
  cursor: default;
}

.button-like.disabled,
.button-like:disabled,
button:disabled {
  background-color: var(--darker-color-subdued);
  border-bottom-color: var(--darkest-color);
  border-right-color: var(--darkest-color);
  color: var(--active-low-alpha);
}

button:hover:not(:disabled),
.button-like:hover:not(:disabled) {
  color: var(--dark-color);
  background-color: var(--active-mid-alpha);
  border-bottom-color: var(--active);
  border-right-color: var(--active);
}

input {
  color: var(--active);
  background: var(--darker-color);
  font-family: var(--monospace-family);
  border: none;
}
input:disabled {
  background-color: var(--darkest-color);
  color: var(--active-low-alpha);
}
input::placeholder {
  color: var(--active-mid-alpha);
}

fieldset {
  margin-left: 0;
  padding-left: unset;
  padding-right: unset;
  margin-top: 4px;
  border: none;
}

h1, h2, h3, h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: var(--darkest-color);
}

tbody {
  background-color: var(--dark-color);
}

tbody tr:nth-child(even) {
  background-color: var(--darker-color);
}

th, td {
  text-align: start;
  padding: var(--spacing-200);
}

/* classnames */

.root {
  height: 100vh;
}

@media (min-width: 769px) {
  .root {
    flex-direction: column;
    overflow-x: hidden;
    display: flex;
  }

  .void {
    flex: 1;
    background-color: var(--darker-color);
  }

  .void .coglib-icon {
    margin: var(--spacing-200);
  }
}

.cogwork-librarian {
  position: relative;
  top: 0;
  z-index: 5;
  width: var(--coglib-width);
  transition-property: left, background-color;
  transition-delay: 25ms;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.inverted {
  background-color: var(--active);
  color: var(--darker-color);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cogwork-librarian.show {
    width: 66%;
  }
}

@media (max-width: 768px) {
  .cogwork-librarian {
    position: static;
    width: 100%;
  }
  .cogwork-librarian.hide {
    left: 0;
  }
}

.cogwork-librarian.show {
  left: 0;
  background-color: var(--dark-color);
  box-shadow: 2px 2px 4px 0 var(--gray-68-shadow);
}

.cogwork-librarian.hide {
  left: calc(0px - var(--coglib-width));
  background-color: transparent;
  /*width: var(--coglib-width);*/
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-200);
}

.column.center,
.row.center {
  align-items: center;
}

.row.baseline {
  align-items: baseline;
}

.masthead {
  margin: var(--spacing-200);
  align-items: start;
}

.masthead #page-title {
  margin-left: var(--spacing-200);
  margin-top: 0;
  margin-bottom: 0;
}

.settings-view-root .input-link input ,
.data-view-root .input-link input {
 appearance: none;
  outline: none;
  margin: 0;
}

.settings-view-root .input-link,
.data-view-root .input-link,
.masthead a {
  color: var(--active-mid-alpha);
  text-decoration: none;
  padding: var(--spacing-100) var(--spacing-200);
  transition-property: color, background-color;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  border-radius: var(--border-radius);
}


.settings-view-root .input-link:hover,
.data-view-root .input-link:hover,
.masthead a:hover {
  color: var(--dark-color);
  background-color: var(--active-mid-alpha);
  border-color: var(--active-low-alpha) inset;
}

.settings-view-root .input-link.active-link,
.settings-view-root .input-link:focus-visible,
.data-view-root .input-link.active-link,
.data-view-root .input-link:focus-visible,
.masthead .active-link,
.masthead a:focus-visible {
  color: var(--dark-color);
  background-color: var(--active);
  border-color: var(--active-mid-alpha) inset;
}

.cogwork-librarian.hide .masthead .toggle {
  margin-right: 0;
}
.masthead .toggle {
  position: absolute;
  top: var(--spacing-200);
  right: var(--spacing-200);
}

.search-view-root .masthead {
  flex: 1;
}

.coglib-prism-theme {
  /* copies prism theme */
  font-family: var(--monospace-family);
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  overflow: auto;
  border: none;
}
textarea.coglib-prism-theme {
  padding: 1em;
  margin: 0.5em 0;
}

.search-view-root {
  display: flex;
  flex-direction: row;
}

.example-query {
  display: flex;
  flex-direction: row;
}

.example-query .labels {
  padding-right: 0;
}

.example-query > :last-child {
  flex: 1;
}

.example-content button {
  height: unset;
}

/* query form */

.query-form {
  margin: var(--spacing-200);
}

.query-editor {
  margin-top: var(--spacing-200);
  margin-bottom: var(--spacing-200);
  height: max-content;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'labels brown overlap';
}

.query-input > code[class*="language-"] {
  white-space: pre;
  padding: 1px;
  border-radius: unset;
}

.query-editor pre, .query-editor textarea {
  margin-top: 0;
  margin-bottom: 0;
  overflow-y: clip;

}

.query-editor .labels {
  grid-area: labels;
  z-index: 4;
  display: flex;
  flex-direction: column;
  cursor: default;
  padding-right: 0;
}

.query-editor .labels .venn,
.query-editor .labels .base {
  background-color: var(--darkest-color);
}

.query-editor .labels .multi-code {
  white-space: pre;
}
.query-editor .run-query-button {
  background-color: transparent;
  border: 0;
  padding: 0 var(--spacing-100) 0 0;
  margin: 0;
  top: .15em;
  position: relative;
  cursor: pointer;
  aspect-ratio: 1/1;
}
.query-editor .run-query-button:disabled {
  cursor: unset;
}

.query-editor:focus-within * {
  outline: none;
}
.query-editor:focus-within {
  outline: 2px inset var(--active);
}

.query-editor .links {
  grid-area: overlap;
  box-sizing: border-box;
  display: inline-block;
  background: transparent;
  scrollbar-color: var(--active-mid-alpha) var(--darker-color);
}
.query-editor .links :not(a) {
  color: transparent;
  background: transparent;
}
.query-editor .links.show {
  z-index: 4;
}
.query-editor .links.hide {
  z-index: 1;
}

.query-editor .controller {
  caret-color: var(--active);
  color: transparent;
  background-color: transparent;
  resize: none;
  grid-area: overlap;
  z-index: 3;
  box-sizing: border-box;
  overflow-x: auto;
  scrollbar-color: var(--active-mid-alpha) var(--darker-color);
}
.query-editor input.controller {
  padding-right: 0;
  scrollbar-width: revert;
}

.query-editor .controller::selection {
  background-color: var(--active-low-alpha);
}

.query-editor .controller::placeholder {
  color: var(--active-mid-alpha);
}

.query-editor .display {
  z-index: 2;
  box-sizing: border-box;
  display: inline-block;
  grid-area: overlap;
}
.query-editor .display a {
  text-decoration: none;
}

.execute-controls {
 flex-wrap: wrap;
}

.execute-controls .loader {
  max-width: 50%;
}

.db-info-holder {
  display:flex;
  flex-direction: column;
  flex: 1;
}

.source-option {
  border: var(--dark-color) inset 2px;
  padding: var(--spacing-200);
}

.source-option .radio-button-holder {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'overlap';
}
.source-option .radio-button-holder input[type='radio'] {
  opacity: 0;
  grid-area: overlap;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.source-option .radio-button-holder svg {
  grid-area: overlap;
  z-index: 1;
}

.source-option.selected {
  border: var(--active) inset 2px;
  background-color: var(--active);
  color: var(--dark-color);
}
.source-option:hover {
  background-color: var(--active-mid-alpha);
  border: var(--active) inset 2px;
  color: var(--dark-color);
}

.source-option .db-settings {
  margin-left: var(--spacing-200);
}

.expander {
  background-color: inherit;
}

.expander-action {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-color: var(--light-color);
}

.expander-child {
  margin: var(--spacing-200);
}

.alert {
  color: var(--light-red);
  background-color: whitesmoke;
  font-weight: bold;
}

.cube-import ul {
  margin-top: 0;
  margin-bottom: 0;
}
.cube-import .submit {
  margin-top: var(--spacing-200);
}

.db-import {
  height: 350px;
  align-items: flex-start;
}
.db-import > * {
  flex: 1;
}

.db-import .scryfall-option {
  padding: var(--spacing-200);
}

.db-import .scryfall-option .size {
  margin-left: var(--spacing-200);
}

.scryfall-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.scryfall-input * {
  cursor: inherit;
}
.scryfall-input input[type=radio] {
  appearance: none;
  height: 20px;
  background-color: transparent;
  translate: 0 -.2em;
  border-radius: 100%;
}
.scryfall-input label.checked {
  color: var(--active);
}
.scryfall-input input[type=radio]::before {
  content: url("./ui/component/scryfallIcon.svg");
  position:relative;
}
.scryfall-input input[type=radio]:checked::before {
  content: url("./ui/component/scryfallIconChecked.svg");
}

.db-import .file {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'overlap';
  border: var(--active-mid-alpha) 2px inset;
}
.db-import .file input {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: inline-block;
  grid-area: overlap;
  cursor: pointer;
}
.db-import .file label {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: inline-block;
  grid-area: overlap;
  background: var(--active);
  color: var(--dark-color);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.list-import, .file-import {
  display: flex;
  flex-direction: column;
}

.cards-to-import {
  background: var(--darker-color);
  color: #ccc;
  resize: none;
}

.cards-to-import::placeholder {
  color: var(--active-mid-alpha);
}

.results {
  background-color: var(--dark-color);
  color: var(--light-color);
  display: flex;
  flex-direction: row;
}

.results .card-view {
  margin-left: 0.75%;
  margin-bottom: var(--spacing-200);
}

.query-panel {
  flex:1;
  height: 100vh;
  overflow-y: auto;
}

.results .content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.result-container {
  padding-top: var(--spacing-300);
  background-color: var(--darker-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-content: flex-start;
}

.bottom-page-control {
  align-self: end;
}

.detail-controls {
  margin-left: 20px;
}

.loader-holder {
  width: 500px;
}

.loader .background {
  fill: var(--light-color);
}

.loader .foreground {
  fill: var(--green);
}

.saved-cards-toggle {
  margin: var(--spacing-200);
}

.saved-cards-floater {
  height: 100vh;
  overflow-y: scroll;
  border-left: var(--gray-68) 2px solid;
  box-shadow: -2px 0 2px 0 var(--gray-68-shadow);

  transition-property: width;
  transition-delay: 25ms;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.saved-cards-floater.show {
  width: 25%;
}

.saved-cards-floater.hide {
  width: 0;
}

.saved-cards-floater textarea {
  height: max-content;
  resize: none;
  width: auto;
  flex: 1
}