.cube-definitions .table-controls,
.cube-definitions table {
    min-width: 769px;
    max-width: 50%;
}

@media (max-width: 768px) {
    .cube-definitions .table-controls,
    .cube-definitions table {
        max-width: 100%;
        min-width: 100%;
    }
}

.cube-definitions {
    .table-controls {
        display: flex;
        flex-direction: row;
        margin-bottom: var(--spacing-200);
    }

    .table-controls .filter {
        display: flex;
        flex-direction: row;
    }

    thead {
        background-color: var(--darkest-color);
    }

    tbody {
        background-color: var(--dark-color);
    }

    tbody tr:nth-child(even) {
        background-color: var(--darker-color);
    }

    th,
    td {
        width: 25%;
        height: 20px;
    }

    th:nth-child(1),
    td:nth-child(1) {
        width: max-content;
        padding: var(--spacing-100);
    }

    td.notfound {
        width: unset;
        text-align: center;
    }

    td img {
        align-self: center;
    }

    .page-numbers {
        margin-left: var(--spacing-200);
    }

    .select-actions {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        flex: 1;
    }

    .select-actions .message {
        margin-right: var(--spacing-200);
    }
}